p   {
    font-weight:lighter;
    display:block;
    margin-left: 30em;

}
h3  {
    font-weight:bold;
    margin-left: 30px;
}
h4  {
    font-weight:lighter;
    margin-left: 50px;
}
footer  {
    padding-left: center;
    padding-top: 200px;
}
.proportion {  /*example of CSS class*/
    height: 200px;
    border: 2px solid blue;
}
#myname {  /*example of CSS id*/
    font-family:fantasy;
}
